<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home_page.css">
    <link rel="stylesheet" href="Font-Awesome-6.5.2/Font-Awesome-6.5.2/css/all.css">
</head>
<body>
    <div class="container">

        <section id="header-showcase">
          
          <nav id="nav-bar">
            <header>
              <h1>CURRENT</h1>
            </header>
  
            <ul id="navigations">
              <li><a href="#">Home</a></li>
              <li><a href="#">Articles</a></li>
              <li><a href="http://localhost:4000/blogs">Blogs</a></li>
              <li><a href="#">Profile</a></li>
            </ul>
          </nav>

          <div id="showcase-btn-container">
            <input type="button" class="showcase-btn" id="left" value="<">
            <input type="button" class="showcase-btn" id="right" value=">">
          </div>

        </section>

        <section id="course-preview">
          <h1>Courses on Offer</h1>
          <div id="part-regular">
            <button id="regular">Regular</button>
            <button id="part-time">Part-Time</button>
          </div>
  
          <div class="courses">
            <div id="cs" class="course">
              <div class="img-div"><img src="images\peter-lawrence-rXZa4ufjoGw-unsplash.jpg" alt=""></div>
              <p>Computer Science</p>
            </div>
            <div id="eeet" class="course">
              <div class="img-div"><img src="images\kenny-eliason-Pfa7Soh0euw-unsplash.jpg" alt=""></div>
              <p>Electrical Electronics Engineering Technology</p>
            </div>
            <div id="pt-bs" class="course">
              <div class="img-div"><img src="images\austin-distel-PkS3hCZmYts-unsplash.jpg" alt=""></div>
              <p>Petroleum Marketing and Business Studies</p>
            </div>
            <div id="stats" class="course">
              <div class="img-div"><img src="images\absolutvision-WYd_PkCa1BY-unsplash.jpg" alt=""></div>
              <p>Statistics</p>
            </div>
          </div>
        
          <button id="more-btn">See more...</button>
        </section>

      <footer id="footer">
        <p>follow us on</p>
        <div>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-whatsapp"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-tiktok"></i>
          <i class="fa-brands fa-telegram"></i>
        </div>
      </footer>

      </div>
      <script src="/socket.io/socket.io.js"></script>
      <script src="home_page.js"></script>

</body>
</html>