<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="registration_page.css">
</head>
<body>
    <form action="" id="form">
        <input class="field" type="text" name="Email" placeholder="Enter Your Email Address">
        <input class="field" type="text" name="Password" placeholder="Enter Your Password">
        <input type="submit" value="Sign in" class="btn">

        <p id="create-account-link">Don't have an account, <a href="/registration">create an account</a></p>
    </form>
</body>
</html>