<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="registration_page.css">
</head>
<body>
    <form action="" id="form">
        <input class="field" type="password" placeholder="Enter a Password">
        <input class="field" type="password" placeholder="Comfirm Password">
        <input type="submit" id="btn">
    </form>
</body>
</html>