<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="registration_page.css">
</head>
<body>
    <form action="/register" method="post" id="form">
        <input class="field" type="text" name="FirstName" placeholder="Enter FirstName">
        <input class="field" type="text" name="LastName" placeholder="Enter LastName">
        <input class="field" type="text" name="Department" placeholder="Enter Department">
        <input class="field" type="text" name="Matric" placeholder="Enter Matric Number">
        <input class="field" type="email" name="Email" placeholder="Enter Email Address">
        <input type="submit" value="Submit" id="btn">
    </form>
</body>
</html>