<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="registration_page.css">
    <link rel="stylesheet" href="Font-Awesome-6.5.2/Font-Awesome-6.5.2/css/all.css">
</head>
<body>

    <%-include("./load")%>

   <p id="message">this is supposed to be a message</p>

    <form action="/register" method="post" id="form">
        <input class="field" type="text" name="FirstName" placeholder="Enter FirstName" required>
        <input class="field" type="text" name="LastName" placeholder="Enter LastName" required>
        <input class="field" type="text" name="Department" placeholder="Enter Department" required>
        <input class="field" type="number" name="Matric" placeholder="Enter Matric Number" required>
        <input class="field" type="number" name="PhoneNumber" placeholder="Enter Phone Number" required>
        <input class="field" type="email" name="Email" placeholder="Enter Email Address" required>
        <input class="field" type="text" name="userName" placeholder="Enter User Name" required>
        <div class="pass-holder">
            <input class="field password" type="password" name="Password" placeholder="Enter a password" required><i class="fa-regular fa-eye-slash" id="visibility"></i>
        </div>
        <div class="pass-holder">
            <input class="field password" id="confirmPassword" type="password" placeholder="Confirm password" required><i class="fa-regular fa-eye-slash" id="visibility"></i>
        </div>
        
        <input type="submit" value="Submit" id="reg-btn" class="btn">
    </form>

    

    <script src="registration_page.js" type="module"></script>
</body>
</html>