<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>school_update</title>
    <link rel="stylesheet" href="Font-Awesome-6.5.2/Font-Awesome-6.5.2/css/all.css">
    <link rel="stylesheet" href="school_updates.css">
</head>
<body>
    <div class="container">
       <div id="side-panel">
        <div class="info">
          <img src="" alt="" id="profile-img">
          <p id="user-name">Favour Israel</p>
        </div>
        <%-include("./admin_post_tools.ejs")%>
       </div>
       <div id="main">

            <div class="news-post">
              <div class="news-img"></div>
              <p class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, perspiciatis voluptates. Minima voluptas necessitatibus officia saepe repellat fugit nulla porro, nihil sunt dicta odio minus? Iste deserunt accusantium a animi unde. Recusandae eligendi natus in sed sequi. Id aperiam accusamus, commodi, ad praesentium dicta aspernatur animi dolore hic a deserunt. Aut deleniti iure doloremque eos magni dolores enim labore, tempora minus voluptate neque vel cumque aliquid, hic itaque vero, a consectetur quod excepturi. Quia repellendus magni animi quidem fuga impedit consequuntur dolorum est iste aliquam? Temporibus similique obcaecati repudiandae iste consequatur animi non, ea nam pariatur facere odit architecto accusamus? Aperiam voluptas tempore dolorem dolor et? Ipsum maiores neque earum doloremque illum molestiae itaque, optio aperiam similique, laboriosam, quas quibusdam repudiandae officia modi inventore veniam doloribus animi. Error alias eos consequatur perspiciatis est maiores deleniti neque ratione tempora quibusdam voluptatem, reiciendis earum voluptatum sit? Totam praesentium id sint est deserunt iste architecto voluptatem adipisci exercitationem in, non molestias perferendis dolores impedit. Cumque iure dicta exercitationem quisquam quas totam animi, quia adipisci quae? Laboriosam a, quo in nostrum debitis suscipit impedit earum. Aut porro voluptates sequi rem eaque quo! Veritatis, iste dolor architecto ullam fugiat a culpa omnis illum. Ad, officiis.
              </p>
              <div class="reactions">
                <i class="far fa-comment-dots"></i>
                <i class="fa-sharp fa-solid fa-share-nodes"></i>
                <i class="fa-solid fa-person-walking-arrow-right"></i>
              </div>
            </div>
    
              <div class="news-post">
                <div class="news-img"></div>
                <p class="paragraph">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, perspiciatis voluptates. Minima voluptas necessitatibus officia saepe repellat fugit nulla porro, nihil sunt dicta odio minus? Iste deserunt accusantium a animi unde. Recusandae eligendi natus in sed sequi. Id aperiam accusamus, commodi, ad praesentium dicta aspernatur animi dolore hic a deserunt. Aut deleniti iure doloremque eos magni dolores enim labore, tempora minus voluptate neque vel cumque aliquid, hic itaque vero, a consectetur quod excepturi. Quia repellendus magni animi quidem fuga impedit consequuntur dolorum est iste aliquam? Temporibus similique obcaecati repudiandae iste consequatur animi non, ea nam pariatur facere odit architecto accusamus? Aperiam voluptas tempore dolorem dolor et? Ipsum maiores neque earum doloremque illum molestiae itaque, optio aperiam similique, laboriosam, quas quibusdam repudiandae officia modi inventore veniam doloribus animi. Error alias eos consequatur perspiciatis est maiores deleniti neque ratione tempora quibusdam voluptatem, reiciendis earum voluptatum sit? Totam praesentium id sint est deserunt iste architecto voluptatem adipisci exercitationem in, non molestias perferendis dolores impedit. Cumque iure dicta exercitationem quisquam quas totam animi, quia adipisci quae? Laboriosam a, quo in nostrum debitis suscipit impedit earum. Aut porro voluptates sequi rem eaque quo! Veritatis, iste dolor architecto ullam fugiat a culpa omnis illum. Ad, officiis.
                </p>
                <div class="reactions">
                  <i class="far fa-comment-dots"></i>
                  <i class="fa-sharp fa-solid fa-share-nodes"></i>
                  <i class="fa-solid fa-person-walking-arrow-right"></i>
                </div>
            </div>
    
                <div class="news-post">
                  <div class="news-img"></div>
                  <p class="paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, perspiciatis voluptates. Minima voluptas necessitatibus officia saepe repellat fugit nulla porro, nihil sunt dicta odio minus? Iste deserunt accusantium a animi unde. Recusandae eligendi natus in sed sequi. Id aperiam accusamus, commodi, ad praesentium dicta aspernatur animi dolore hic a deserunt. Aut deleniti iure doloremque eos magni dolores enim labore, tempora minus voluptate neque vel cumque aliquid, hic itaque vero, a consectetur quod excepturi. Quia repellendus magni animi quidem fuga impedit consequuntur dolorum est iste aliquam? Temporibus similique obcaecati repudiandae iste consequatur animi non, ea nam pariatur facere odit architecto accusamus? Aperiam voluptas tempore dolorem dolor et? Ipsum maiores neque earum doloremque illum molestiae itaque, optio aperiam similique, laboriosam, quas quibusdam repudiandae officia modi inventore veniam doloribus animi. Error alias eos consequatur perspiciatis est maiores deleniti neque ratione tempora quibusdam voluptatem, reiciendis earum voluptatum sit? Totam praesentium id sint est deserunt iste architecto voluptatem adipisci exercitationem in, non molestias perferendis dolores impedit. Cumque iure dicta exercitationem quisquam quas totam animi, quia adipisci quae? Laboriosam a, quo in nostrum debitis suscipit impedit earum. Aut porro voluptates sequi rem eaque quo! Veritatis, iste dolor architecto ullam fugiat a culpa omnis illum. Ad, officiis.
                  </p>
                  <div class="reactions">
                    <i class="far fa-comment-dots"></i>
                    <i class="fa-sharp fa-solid fa-share-nodes"></i>
                    <i class="fa-solid fa-person-walking-arrow-right"></i>
                  </div>
                </div>
    
                  <div class="news-post">
                    <div class="news-img"></div>
                    <p class="paragraph">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, perspiciatis voluptates. Minima voluptas necessitatibus officia saepe repellat fugit nulla porro, nihil sunt dicta odio minus? Iste deserunt accusantium a animi unde. Recusandae eligendi natus in sed sequi. Id aperiam accusamus, commodi, ad praesentium dicta aspernatur animi dolore hic a deserunt. Aut deleniti iure doloremque eos magni dolores enim labore, tempora minus voluptate neque vel cumque aliquid, hic itaque vero, a consectetur quod excepturi. Quia repellendus magni animi quidem fuga impedit consequuntur dolorum est iste aliquam? Temporibus similique obcaecati repudiandae iste consequatur animi non, ea nam pariatur facere odit architecto accusamus? Aperiam voluptas tempore dolorem dolor et? Ipsum maiores neque earum doloremque illum molestiae itaque, optio aperiam similique, laboriosam, quas quibusdam repudiandae officia modi inventore veniam doloribus animi. Error alias eos consequatur perspiciatis est maiores deleniti neque ratione tempora quibusdam voluptatem, reiciendis earum voluptatum sit? Totam praesentium id sint est deserunt iste architecto voluptatem adipisci exercitationem in, non molestias perferendis dolores impedit. Cumque iure dicta exercitationem quisquam quas totam animi, quia adipisci quae? Laboriosam a, quo in nostrum debitis suscipit impedit earum. Aut porro voluptates sequi rem eaque quo! Veritatis, iste dolor architecto ullam fugiat a culpa omnis illum. Ad, officiis.
                    </p>
                    <div class="reactions">
                      <i class="far fa-comment-dots"></i>
                      <i class="fa-sharp fa-solid fa-share-nodes"></i>
                      <i class="fa-solid fa-person-walking-arrow-right"></i>
                    </div>
            </div> 
       </div>
    </div> 
</body>
</html>