*{
 margin: 0;
 padding: 0;
 border: 0;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body::before{
 content: '';
 background-image: url(./images/annie-spratt-hWJsOnaWTqs-unsplash.jpg);
 opacity: 0.3;
 width: 100vw;
 height: 100vh;
 position: absolute;
 background-position: center;
 background-size: cover;
}

#form{
    width: 400px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: 4px 4px 40px 4px black;
    padding: 20px;
    border-radius: 5px;
}

#form input{
    
}

.field{
    margin: 10px;
    padding: 10px;
    outline-color: orangered;
    background-color: rgba(255, 255, 255, 0.555);
    border: 1px solid rgb(128, 128, 128);
    font-size: 1.1rem;
}

.btn{
    margin: 10px;
    padding: 10px;
    outline-color: orangered;
    background-color: orangered;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
}

.btn:hover{
    color: grey;
}

#create-account-link{
    font-size: 1.2rem;
}

#message{
    position: absolute;
    margin-top: -90vh;
    padding: 20px;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    display: none;
}

#visibility{
    text-align: center;
    font-size: 1.1rem;
}

.pass-holder{
    background-color: rgba(255, 255, 255, 0.555);
    border: 1px solid rgb(128, 128, 128);
    display: flex;
    align-items: center;
    margin: 10px;
    outline-color: orangered;
    height: max-content;
    padding: 0;
}

.password{
    width: 85%;
    padding: 0px;
    height: 100%;
    border: 0;
    font-size: 1.1rem;
    background-color: transparent;
    outline: none;
}









/* ----------UPLOAD IMAGE PAGE CSS---------- */
.container{
    height: 100%;
    width: 100%;
}

#uploadForm{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: space-evenly;
}

#img-container{
    width: 300px;
    height: 300px;
    border: 2px groove orangered;
    box-shadow: 4px 4px 40px 4px black;
    border-radius: 50%;
    overflow: hidden;
}

#img{
    width: inherit;
    height: inherit;
}


#pic-file{
    padding: 50px;
    box-shadow: 4px 4px 40px 4px black;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px groove orangered;
    background-color: white;
    background-color: rgb(26, 25, 25);
    color: white;
}

#buttons input{
    width: 200px;
}

#email{
    display: none;
}
